:root {
  --color-dex: #808000;
  --color-str: #236fa1;
  --color-con: #a52a2a;
  --color-int: #b96ad9;
  --color-wis: #843fa1;
  --color-cha: #e67e23;
  --крит-успех: #32cd32;
  --успех: #008000;
  --провал: #800000;
  --крит-провал: #ff0000;
}

.Признак {
  align-items: center;
  background-color: #5e0000;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 50%);
  color: #fff;
  display: inline-block;
  font-family: Roboto,sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: .05em;
  min-height: 1.5em;
  padding: 1px;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.Мировоз {
  align-items: center;
  background-color: #576293;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 50%);
  color: #fff;
  display: inline-block;
  font-family: Roboto,sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: .05em;
  min-height: 1.5em;
  padding: 1px;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.Размер {
  align-items: center;
  background-color: #3b7b59;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 50%);
  color: #fff;
  display: inline-block;
  font-family: Roboto,sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: .05em;
  min-height: 1.5em;
  padding: 1px;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.Обыч {
  align-items: center;
  background-color: grey;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 50%);
  color: #fff;
  display: inline-block;
  font-family: Roboto,sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: .05em;
  min-height: 1.5em;
  padding: 1px;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.Необыч {
  align-items: center;
  background-color: #98513d;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 50%);
  color: #fff;
  display: inline-block;
  font-family: Roboto,sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: .05em;
  min-height: 1.5em;
  padding: 1px;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.Редк {
  align-items: center;
  background-color: blue;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 50%);
  color: #fff;
  display: inline-block;
  font-family: Roboto,sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: .05em;
  min-height: 1.5em;
  padding: 1px;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.Уник {
  align-items: center;
  background-color: purple;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 50%);
  color: #fff;
  display: inline-block;
  font-family: Roboto,sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: .05em;
  min-height: 1.5em;
  padding: 1px;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.Обучен {
  background: #171f69;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px hsl(0deg 0% 100% / 10%);
  color: #fff;
  display: inline-block;
  font-family: Roboto,sans-serif;;
  font-size: 0.625rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: .05em;
  padding: 1px;
  text-align-last: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.Эксперт {
  background: #3c005e;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px hsl(0deg 0% 100% / 10%);
  color: #fff;
  display: inline-block;
  font-family: Roboto,sans-serif;;
  font-size: 0.625rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: .05em;
  padding: 1px;
  text-align-last: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.Мастер {
  background: #640;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px hsl(0deg 0% 100% / 10%);
  color: #fff;
  display: inline-block;
  font-family: Roboto,sans-serif;;
  font-size: 0.625rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: .05em;
  padding: 1px;
  text-align-last: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.Легенда {
  background: #8B0000;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px hsl(0deg 0% 100% / 10%);
  color: #fff;
  display: inline-block;
  font-family: Roboto,sans-serif;;
  font-size: 0.625rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: .05em;
  padding: 1px;
  text-align-last: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.Нетрен {
  background: grey;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px hsl(0deg 0% 100% / 10%);
  color: #fff;
  display: inline-block;
  font-family: Roboto,sans-serif;;
  font-size: 0.625rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: .05em;
  padding: 1px;
  text-align-last: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.ОД {
  background: #171f69;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px hsl(0deg 0% 100% / 10%);
  color: #fff;
  display: inline-block;
  font-family: Roboto,sans-serif;;
  font-size: 0.625rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: .05em;
  padding: 1px;
  text-align-last: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.КБ {
  background: hsla(0,0%,100%,.75);
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px hsl(0deg 0% 100% / 40%);
  color: #5e0000;
  display: inline-block;
  font-family: "Modesto Condensed",serif;
  font-size: 0.7rem;
  font-weight: 700;
  justify-content: center;
  letter-spacing: .05em;
  padding: 1px;
  text-align-last: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  white-space: nowrap;
}

.ОЗ {
  background: hsla(0,0%,100%,.75);
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px hsl(0deg 0% 100% / 40%);
  color: darkgreen;
  display: inline-block;
  font-size: 0.7rem;
  font-weight: 700;
  justify-content: center;
  letter-spacing: .05em;
  padding: 1px;
  text-align-last: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  white-space: nowrap;
}

.Атак {
  background: rgb(103, 216, 216);
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px hsl(0deg 0% 100% / 40%);
  display: inline-block;
  font-family: "Modesto Condensed",serif;
  font-weight: 800;
  justify-content: center;
  letter-spacing: .05em;
  padding: 1px;
  text-align-last: center;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
}

.Урон {
  background: pink;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px hsl(0deg 0% 100% / 40%);
  display: inline-block;
  font-family: "Modesto Condensed",serif;
  font-weight: 800;
  justify-content: center;
  letter-spacing: .05em;
  padding: 1px;
  text-align-last: center;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
}

.ССИ {
  background: #460404;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px hsl(0deg 0% 100% / 10%);
  color: #e9d7a1;
  display: inline-block;
  font-family: "Modesto Condensed",serif;
  font-weight: 600;
  justify-content: center;
  letter-spacing: .05em;
  padding: 1px;
  text-align-last: center;
  text-rendering: optimizeLegibility;
}

.Увелич {
  background: silver;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px hsl(0deg 0% 100% / 10%);
  color: #8B0000;
  display: inline-block;
  font-family: Roboto,sans-serif;;
  font-size: 0.625rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: .05em;
  padding: 1px;
  text-align-last: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.Приброске {
  background: none;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  color: #460404;
  display: inline-block;
  font-family: Roboto,sans-serif;;
  font-size: 0.625rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: .05em;
  padding: 1px;
  text-align-last: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.Критуспех {
  background: none;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  color: green;
  display: inline-block;
  font-family: Roboto,sans-serif;;
  font-size: 0.625rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: .05em;
  padding: 1px;
  text-align-last: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.Успех {
  background: none;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  color: blue;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  display: inline-block;
  font-family: Roboto,sans-serif;;
  font-size: 0.625rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: .05em;
  padding: 1px;
  text-align-last: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.Провал {
  background: none;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  color: #ff4500;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  display: inline-block;
  font-family: Roboto,sans-serif;;
  font-size: 0.625rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: .05em;
  padding: 1px;
  text-align-last: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.Критпровал {
  background: none;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  color: red;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  display: inline-block;
  font-family: Roboto,sans-serif;;
  font-size: 0.625rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: .05em;
  padding: 1px;
  text-align-last: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.С1 {
  background: none;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  color: DarkRed;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  display: inline-block;
  font-family: Roboto,sans-serif;;
  font-size: 0.625rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: .05em;
  padding: 1px;
  text-align-last: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.С2 {
  background: none;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  color: FireBrick;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  display: inline-block;
  font-family: Roboto,sans-serif;;
  font-size: 0.625rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: .05em;
  padding: 1px;
  text-align-last: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.С3 {
  background: none;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  color: Red;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  display: inline-block;
  font-family: Roboto,sans-serif;;
  font-size: 0.625rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: .05em;
  padding: 1px;
  text-align-last: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.С4 {
  background: none;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  color: Crimson;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  display: inline-block;
  font-family: Roboto,sans-serif;;
  font-size: 0.625rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: .05em;
  padding: 1px;
  text-align-last: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.С5 {
  background: none;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  color: LightSalmon;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  display: inline-block;
  font-family: Roboto,sans-serif;;
  font-size: 0.625rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: .05em;
  padding: 1px;
  text-align-last: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.Способ {
  background: none;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  display: inline-block;
  font-family: Roboto,sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: .05em;
  min-height: 1.5em;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  padding: 0px 2px 0px 2px;
  text-align-last: center;
}

.Действие {
  background: #00ff1a73;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  display: inline-block;
  font-family: Roboto,sans-serif;;
  font-size: 0.625rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: .05em;
  padding: 1px;
  text-align-last: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.Ежед {
  align-items: center;
  background-color: #BDB76B;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 50%);
  text-decoration: underline blue;
  display: inline-block;
  font-family: Roboto,sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: .05em;
  min-height: 1.5em;
  padding: 1px;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.Пред {
  background: none;
  color: brown;
  text-decoration: underline red;
  text-decoration-style: double;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  display: inline-block;
  font-family: Roboto,sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: .05em;
  min-height: 1.5em;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  padding: 0px 2px 0px 2px;
  text-align-last: center;
}

.Триг {
  background: none;
  color: #e03e2d;
  text-decoration: underline red;
  text-decoration-style: double;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  display: inline-block;
  font-family: Roboto,sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: .05em;
  min-height: 1.5em;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  padding: 0px 2px 0px 2px;
  text-align-last: center;
}

.Треб {
  background: none;
  color: #236fa1;
  text-decoration: underline red;
  text-decoration-style: double;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  display: inline-block;
  font-family: Roboto,sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: .05em;
  min-height: 1.5em;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  padding: 0px 2px 0px 2px;
  text-align-last: center;
}

.Част {
  background: none;
  color: #a87a17;
  text-decoration: underline red;
  text-decoration-style: double;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  display: inline-block;
  font-family: Roboto,sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: .05em;
  min-height: 1.5em;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  padding: 0px 2px 0px 2px;
  text-align-last: center;
}

.Дист {
  background: none;
  color: rgb(122, 82, 7);
  text-decoration: underline red;
  text-decoration-style: double;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  display: inline-block;
  font-family: Roboto,sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: .05em;
  min-height: 1.5em;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  padding: 0px 2px 0px 2px;
  text-align-last: center;
}

.Комп {
  background: none;
  color: red;
  text-decoration: underline red;
  text-decoration-style: double;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  display: inline-block;
  font-family: Roboto,sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: .05em;
  min-height: 1.5em;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  padding: 0px 2px 0px 2px;
  text-align-last: center;
}

.Прод {
  background: none;
  color: olivedrab;
  text-decoration: underline red;
  text-decoration-style: double;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  display: inline-block;
  font-family: Roboto,sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: .05em;
  min-height: 1.5em;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  padding: 0px 2px 0px 2px;
  text-align-last: center;
}

.Атака {
  background: #e7d9cf;
  color: blue;
  text-decoration: underline blue;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  display: inline-block;
  font-family: Roboto,sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: .05em;
  min-height: 1.5em;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  padding: 0px 2px 0px 2px;
  text-align-last: center;
}

.Враг {
  background: pink;
  text-decoration: underline red;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  align-items: center;
  border: 1px solid rgba(214, 124, 124, 0.5);
  display: inline-block;
  font-family: Roboto,sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: .05em;
  min-height: 1.5em;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  padding: 0px 2px 0px 2px;
  text-align-last: center;
}

.Союз {
  background: #90EE90;
  text-decoration: underline green;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  align-items: center;
  border: 1px solid rgba(214, 124, 124, 0.5);
  display: inline-block;
  font-family: Roboto,sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: .05em;
  min-height: 1.5em;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  padding: 0px 2px 0px 2px;
  text-align-last: center;
}

.НЕ {  
  background:  pink;
  color: red;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  align-items: center;
  border: 1px solid rgba(214, 124, 124, 0.5);
  display: inline-block;
  font-family: Roboto,sans-serif;
  font-weight: 600;
  letter-spacing: .05em;
  min-height: 1.5em;
  text-rendering: optimizeLegibility;
  padding: 0px 2px 0px 2px;
  text-align-last: center;
}

.Рес {  
  background:none;
  color: olive;
  align-items: center;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  align-items: center;
  border: 1px solid brown;
  display: inline-block;
  font-family: Roboto,sans-serif;
  font-weight: 600;
  font-weight: oblique;
  letter-spacing: .05em;
  min-height: 1.5em;
  text-rendering: optimizeLegibility;
  padding: 0px 2px 0px 2px;
  text-align-last: center;
}

.ОФ {
  background: cornflowerblue;
  text-decoration: underline darkblue;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  align-items: center;
  border: 1px solid rgba(214, 124, 124, 0.5);
  display: inline-block;
  font-family: Roboto,sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: .05em;
  min-height: 1.5em;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
  padding: 0px 2px 0px 2px;
  text-align-last: center;
}

  .СИЛ {  /* Сила */ /* <span class="СИЛ">Сила</span> */
    color: var(--color-str);
    font-weight: bold;
  }

  .ЛВК {  /* ЛВК */ /* <span class="ЛВК">ЛВК</span> */
    color: var(--color-dex);
    font-weight: bold;
  }

  .ТЕЛ {  /* Сила */ /* <span class="СИЛ">Сила</span> */
    color: var(--color-con);
    font-weight: bold;
  }

  .ИНТ {  /* Сила */ /* <span class="СИЛ">Сила</span> */
    color: var(--color-int);
    font-weight: bold;
  }

  .МУД {  /* Сила */ /* <span class="СИЛ">Сила</span> */
    color: var(--color-wis);
    font-weight: bold;
  }

  .ХАР {  /* Сила */ /* <span class="СИЛ">Сила</span> */
    color: var(--color-cha);
    font-weight: bold;
  }

  .Воля {  /* <span class=\"Воля\">Спас.Воли</span> */ /* <span class="Воля">Спас.Воли</span> */
    color: #843fa1;
    font-weight: bold;
  }

  .СТК {  /* Спас.СТК */ /* <span class="СТК">Спас.СТК</span> */
    color: #236fa1;
    font-weight: bold;
  }

  .РФЛ {  /* Спас.РФЛ */ /* <span class="РФЛ">Спас.РФЛ</span> */
    color: #808000;
    font-weight: bold;
  }


.МХК { /* <span class=\"МХК\" data-tooltip=\"Модификатор Характеристики Колдоства\">Мод.Хар.Колд</span> */
  background: #843fa1; /* Цвет фона */
  color: #fff; /* Цвет текста */
  padding: 1px; /* Поля вокруг текста */
  padding-left: 2px; /* Поле слева */
  padding-right: 2px; /* Поле справа */
  border-radius: 2px; /* Уголки */
}

.ШМА { /* <span class=\"ОД\" data-tooltip=\"Штраф Множественной Атаки\">Штраф Множ.Атак</span> */
  background: blue; /* Цвет фона */
  color: #fff; /* Цвет текста */
  padding: 1px; /* Поля вокруг текста */
  padding-left: 2px; /* Поле слева */
  padding-right: 2px; /* Поле справа */
  border-radius: 2px; /* Уголки */
}

  .Состояния { /* <span class=\"Состояния\">Состояния</span> */ /* <span class="Состояния">Состояния</span> */
  background: red; /* Цвет фона */
  color: white; /* Цвет текста */
  padding: 1px; /* Поля вокруг текста */
  padding-left: 2px; /* Поле слева */
  padding-right: 2px; /* Поле справа */
  border-radius: 3px; /* Уголки */
}

.Обстоятельства {   /* <span class=\"Обстоятельства\">Обстоятельства</span> */
  background: #808000; /* Цвет фона */
  color: white; /* Цвет текста */
  padding: 1px; /* Поля вокруг текста */
  padding-left: 2px; /* Поле слева */
  padding-right: 2px; /* Поле справа */
  border-radius: 3px; /* Уголки */
  }

  .Предмета {   /* <span class=\"Предмета\">Предмета</span> */
  background: #008080; /* Цвет фона */
  color: white; /* Цвет текста */
  padding: 1px; /* Поля вокруг текста */
  padding-left: 2px; /* Поле слева */
  padding-right: 2px; /* Поле справа */
  border-radius: 3px; /* Уголки */
  }
   
   .Признак1 { /* <span class="Признак2"><span class="Признак1">_</span></span> */
    background-color: #5e0000;
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 0 0.25em;
  }

  .Признак2 { /* `...` */
    background-color: #d9c484;
    display: inline-block;
    margin: 0.1em -0.05em !important;
    padding: 0.1em 0.25em;
    list-style-type: none !important;
  }

  .Признак3 {
    background-color: #5e0000;
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 0 0.25em;
    background-color: #d9c484;
    margin: 0.1em -0.05em !important;
    padding: 0.1em 0.25em;
    list-style-type: none !important;
    }

  .Признак0 { /* <span class="Признак2"><span class="Признак1">_</span></span> */
    background-color: #576293;
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 0 0.25em;
  }

  .Признак-1 { /* <span class="Признак2"><span class="Признак1">_</span></span> */
    background-color: #3b7b59;
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 0 0.25em;
  }

  .ПризнакБ { /* <span class="Признак2"><span class="Признак1">_</span></span> */
    color: black;
    font-weight: bold;
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box;
    vertical-align: middle;
    list-style-type: none !important;
  }

  .ПризнакН { /* <span class="Признак2"><span class="Признак1">_</span></span> */
    background-color: #98513d;
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 0 0.25em;
  }

  .ПризнакР { /* <span class="Признак2"><span class="Признак1">_</span></span> */
    background-color: blue;
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 0 0.25em;
  }

  .ПризнакО { /* <span class="Признак2"><span class="Признак1">_</span></span> */
    background-color: grey;
    color: #fff;
    display: inline-block;
    margin: 0;
    padding: 0 0.25em;
  }

  .Признак3 {
    color: black;
  }

  .Нарратив { /* <p class="Нарратив"> */
    background-color: #f0ad72;
    font-style: italic;
  }

    .Психика { /* <p class="Психика"> */
    background-color: #C0C0C0;
  }

  .Уточнить { /* <blockquote> <p class="Уточнить"> */
    background-color: #fbeeb8;
  }

  .Развеять { /* <p class="Развеять"> */
    background-color: #ee82ee;
  }

  .Иммун { /* <p class="Иммун"> */
    background-color: #bfedd2;
  }

  .Атака { /* <span class="Атака"> */
    text-decoration: underline;
    color: #000080;
  }

  .Видыатак { /* <span class="Видыатак"> */
    text-decoration: underline;
    color: #34495e;
  }

  .Повтор { /* <span class="Повтор"> */
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0.3);
    text-align: center;
  }

  .Бонус { /* <span class=\"Бонус\">Бонус</span> */
    background: silver; /* Цвет фона */
    background-clip: padding-box;
    color: green; /* Цвет текста */
    text-shadow: 1px 1px 2px yellowgreen, 0 0 1em black;
    padding: 1px; /* Поля вокруг текста */
    padding-left: 2px; /* Поле слева */
    padding-right: 2px; /* Поле справа */
    border-radius: 2px; /* Уголки */
   }

  .Урон2 { /* <span class="Урон2"> */
    color: darkblue;   
    font-weight: bold;
    font-family: "Comic Sans MS", sans-serif;
    text-decoration: underline gainsboro;
    background-clip: padding-box;
    border: 2px dotted blue;
    text-align: center;
    padding-left: 2px; /* Поле слева */
    padding-right: 2px; /* Поле справа */
  }

  .УронУрон { /* <span class="Урон"> */
    background-color: pink;   
    text-decoration: underline red;
    font-weight: bold;
    font-family: "Comic Sans MS", sans-serif;
  }

  .АтакАтак { /* <span class="Урон"> */
    background-color: rgb(103, 216, 216);   
    text-decoration: underline blue;
    font-weight: bold;
    font-family: "Comic Sans MS", sans-serif;
  }

  .Эффект {
    background: #00FF00; /* green background */
    color: #000;
    padding: 1px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 2px 2px 2px 2px;
    border: solid 2px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.Макрос {
  background: purple; /* green background */
  color: #000;
  padding: 1px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px 2px 2px 2px;
  border: solid 2px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.Аура {
  background: #FFA500; /* orange-red background */
  color: #000;
  padding: 1px;
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 2px 2px 2px 2px;
  border: solid 2px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

  .Мест { /* <span class="Мест"> */
    background-color: yellowgreen;
    text-decoration: underline green;
    font-weight: oblique;
  }

  .Свет { /* <span class="Свет"> */
    background-color: yellow;
    text-decoration: underline black;
    font-family: "Comic Sans MS", sans-serif;
    font-weight: oblique;
  }

  .Сотв { /* <span class=\"Сотв\">_</span> <span class="Сотв"> */
    color: purple;
    font-weight: bold;
  }

  .Список { /* <span class=\"Список\">_</span> <span class="Список"> */
    color: darkblue;
    font-weight: bold;
  }

  .Сопр { /* <span class="Сопр"> */
    text-decoration: underline green;
    font-weight: oblique;
    color: #34495e;
  }

  .Слаб { /* <span class="Слаб"> */
    text-decoration: underline red;
    font-weight: oblique;
    color: #34495e;
  }

  .Иммун2 { /* <span class="Иммун2"> */
    text-decoration: underline yellow;
    font-weight: oblique;
    color: #34495e;
  }

  .Класс { /* <span class="Класс"> */
    color: green;
    text-decoration: underline;
  }

  .Слот { /* <span class="Слот"> */
    background-clip: padding-box;
    border: 2px solid purple;
    text-align: center;
  }

  .Закл { /* <span class="Закл"> */
    color: purple;
    text-decoration: underline;
  }

  .Пси { /* <span class="Пси"> */
    color: magenta;
    text-decoration: underline;
    text-shadow: 0 0 2px rgba(255, 0, 255, 0.5);
    font-style: italic;
    }

  .До { /* <span class="До"> */
    background-color: #BDB76B;
    text-decoration: underline brown;
    font-weight: oblique;
  }

  .Твер { /* <span class="Твер"> */
    color: darkblue;
    font-weight: bold;
  }

  .Матер { /* <span class="Матер"> */
    color: blue;
    text-decoration: underline purple;
  }

  .Масса { /* <span class="Матер"> */
    color: green;
    text-decoration: underline greenyellow;
  }

  .Обычай { /* <span class="Обычай"> */
    background-color: yellow;
    text-decoration: underline purple;
    font-weight: oblique;
  }

  .Скор { /* <span class="Скор"> */
    color: green;
    text-decoration: underline #34495e;
    font-weight: oblique;
  }


  .Заг2 { /* <span class="Заг2"> */
    text-align: center;
  }

  .line {
   border-bottom: 3px solid green; /* Параметры линии */
  }

  .картинкасправа {
    float: right; /* Выравнивание по правому краю */
    margin: 0 0 5px 5px; /* Отступы вокруг фотографии */
  }
    .картинкаслева {
    float: left; /* Выравнивание по левому краю */
    margin: 0 0 5px 5px; /* Отступы вокруг фотографии */
  }

  .ЯЧЧЕР {
    background-color: black;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    font-family: Arial, Helvetica, Verdana;
    font-size: 12px;
}

.ЯЧСИН {
    background-color: blue;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    font-family: Arial, Helvetica, Verdana;
    font-size: 12px;
}

.ЯЧЗЕЛ {
    background-color: green;
    text-transform: capitalize;
    font-weight: bold;
    font-family: Arial, Helvetica, Verdana;
    font-size: 12px;
}

.ЯЧКРА {
    background-color: red;
    text-transform: capitalize;
    font-weight: bold;
    font-family: Arial, Helvetica, Verdana;
    font-size: 12px;
}

.ЯЧБЕЛ {
    background-color: white;
    text-transform: capitalize;
    font-weight: bold;
    font-family: Arial, Helvetica, Verdana;
    font-size: 12px;
}

.ЯЧЛАТ {
    background-color: #bf9b30;
    text-transform: capitalize;
    font-weight: bold;
    font-family: Arial, Helvetica, Verdana;
    font-size: 12px;
}

.ЯЧБРО {
    background-color: #964b00;
    text-transform: capitalize;
    font-weight: bold;
    font-family: Arial, Helvetica, Verdana;
    font-size: 12px;
}

.ЯЧМЕД {
    background-color: #b87333;
    text-transform: capitalize;
    font-weight: bold;
    font-family: Arial, Helvetica, Verdana;
    font-size: 12px;
}

.ЯЧЗОЛ {
    background-color: #ffd700;
    text-transform: capitalize;
    font-weight: bold;
    font-family: Arial, Helvetica, Verdana;
    font-size: 12px;
}

.ЯЧСЕР {
    background-color: #c0c0c0;
    text-transform: capitalize;
    font-weight: bold;
    font-family: Arial, Helvetica, Verdana;
    font-size: 11px;
}


