/*кнопки*/
.ai-button-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0px;
  margin-top: -20px; /* Измените это значение для настройки вертикального положения */
}

.ai-button {
  font-size: 12px;
  padding: 2px 2px;
  border: none;
  background-color: transparent;
  color: white;
  transition: background-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
}

.ai-button.active {
  background-color: green;
}










/*ЖУРНАЛЫ*/
.А
{
  text-indent: 5px;
  text-align: justify;
  text-align-last: left;
}

.Зачитка
{
  background: #f8f8eb;
  border-top: 1px solid #C5A924;
  border-bottom: 1px solid #C5A924;
  border-left: 1px solid #C5A924;
  border-right: 1px solid #C5A924;
  box-shadow: 5px 3px 3px grey;
  padding: 1em;
  color: brown
}

.БлокУлик
{
  /*Общее*/
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  /*Улики*/
  border: 4px solid rgb(0, 88, 151);;
  background: #f8f8eb
}

.ШапкаУлик
{
  /*Общее*/
  display: flex;
  margin-bottom: 10px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  /*Улики*/
  border-bottom: 4px solid rgb(0, 88, 151);;
  background: linear-gradient( #1c7ec5,black);
}

.БлокНавиг
{
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px; /*Общее*/
  /*Навиг*/
  border: 4px solid #22180f;
  background: #f8f8eb;
  clear: both;  
}

.ШапкаНавиг
{
  /*Общее*/
  display: flex;
  margin-bottom: 10px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  /*Навиг*/
  border-bottom: 4px solid #22180f;
  background: linear-gradient( #b2845d,#352517);
  clear: both; 
}

.БлокСущ
{
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px; /*Общее*/
  /*Сущ*/
  border: 4px solid #5d0000;
  background: #f8f8eb;
  clear: both; 
}

.ШапкаСущ
{
  /*Общее*/
  display: flex;
  margin-bottom: 10px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  /*Сущ*/
  border-bottom: 4px solid #5d0000;
  background: linear-gradient( red,black);
  clear: both; 
}

.БлокСокр
{
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px; /*Общее*/
  /*Сокр*/
  border: 4px solid #026939;
  background: #f8f8eb 
}

.ШапкаСокр
{
  /*Общее*/
  display: flex;
  margin-bottom: 10px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  /*Сокр*/
  border-bottom: 4px solid #026939;
  background: linear-gradient(green,black);
}

.БлокСтат
{
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px; /*Общее*/
  /*Стат*/
  border: 3px solid black;
  background: #f8f8eb;
  clear: both;
}

.ШапкаСтат
{
  /*Общее*/
  display: flex;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /*Стат*/
  border-bottom: 3px solid black;
  background: #5d0000;
  clear: both; 
}

.БлокОпыт
{
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px; /*Общее*/
  /*Стат*/
  border: 3px solid black;
  background: #f8f8eb
}

.ШапкаОпыт
{
  /*Общее*/
  display: flex;
  margin-bottom: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /*Стат*/
  border-bottom: 3px solid black;
  background: linear-gradient(rgb(110, 184, 184),rgb(52, 119, 119));
}

.Окно
{
  padding-bottom: 10px;
  display: block;
  height: 50px;
}

.Иконка
{
  border-radius: 50%;
  width: 70px;
  position: relative;
  left: -14px;
  top: -10px;
}

.Имя
{
  color: black;
  position: relative;
  top: 10px;
  font-family: cursive;
  font-size: large;
}

.Загол
{
  color: whitesmoke;
  position: relative;
  top: 10px;
  font-family: cursive;
  font-size: large;
}

/********** картинка слева **********/
.ЛЕВ {
  float: left;
  margin: 0 1em 1em 0;
}

/********** картинка справа **********/
.ПРАВ {
  float: right;
  margin: 0 0 1em 0em;
  width: 20%;
  margin-top: 2px; /* Вертикальный отступ от предыдущего объекта */
  margin-left: 2px
}

.ПРАВ img {
  height: auto !important;
  border: none; /* Убираем рамку у изображения */
}

.ПРАВ figcaption {
  white-space: nowrap; /* Запрет переноса текста на следующую строку */
  text-overflow: ellipsis; /* Отображение многоточия, если текст не помещается */
  font-size: 10px;
  padding: 5px;
  text-align: center; /* Выравнивание текста по центру горизонтально */
  align-items: center; /* Выравнивание текста по центру вертикально */
}


.ТекстБлока
{
  margin: 15px;
}

/*АВТО_ОФОРМЛЕНИЕ*/

.ts-sostoyaniya { /* состояния */ /* <span class="Состояния">Состояния</span> */
    background: rgb(209, 152, 152); /* Цвет фона */
    padding: 1px; /* Поля вокруг текста */
    padding-left: 1px; /* Поле слева */
    padding-right: 1px; /* Поле справа */
    border-radius: 1px; /* Уголки */
}
  
.ts-obstoyatelstva {   /* Обстоятельства */
    background: #c7c789; /* Цвет фона */
    padding: 1px; /* Поля вокруг текста */
    padding-left: 1px; /* Поле слева */
    padding-right: 1px; /* Поле справа */
    border-radius: 1px; /* Уголки */
}
  
.ts-predmeta {   /* <span class=\"ts-predmeta\">Предмета</span> */
    background: #a2dddd; /* Цвет фона */
    padding: 1px; /* Поля вокруг текста */
    padding-left: 1px; /* Поле слева */
    padding-right: 1px; /* Поле справа */
    border-radius: 1px; /* Уголки */
}

.ts-effect {
    background: #20fa20; /* green background */
    padding-left: 2px;
    padding-right: 2px;
}

.ts-macros {
  background: #e282bd; 
  padding-left: 2px;
  padding-right: 2px;
}

.ts-krituspeh {
  background: none;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  color: green;
  display: inline-block;
  font-family: Roboto,sans-serif;;
  font-size: 0.625rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: .05em;
  padding: 1px;
  text-align-last: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.ts-uspeh {
  background: none;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  color: blue;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  display: inline-block;
  font-family: Roboto,sans-serif;;
  font-size: 0.625rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: .05em;
  padding: 1px;
  text-align-last: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.ts-proval {
  background: none;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  color: #ff4500;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  display: inline-block;
  font-family: Roboto,sans-serif;;
  font-size: 0.625rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: .05em;
  padding: 1px;
  text-align-last: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.ts-kritproval {
  background: none;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  color: red;
  align-items: center;
  border: 1px solid rgba(0,0,0,.5);
  border-radius: 2px;
  display: inline-block;
  font-family: Roboto,sans-serif;;
  font-size: 0.625rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: .05em;
  padding: 1px;
  text-align-last: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.ts-priznak {
  align-items: center;
  background-color: #5e0000;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 50%);
  color: #fff;
  display: inline-block;
  font-family: Roboto,sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: .05em;
  min-height: 1.5em;
  padding: 1px;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.ts-mirovoz {
  align-items: center;
  background-color: #576293;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 50%);
  color: #fff;
  display: inline-block;
  font-family: Roboto,sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: .05em;
  min-height: 1.5em;
  padding: 1px;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.ts-razmer {
  align-items: center;
  background-color: #3b7b59;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 50%);
  color: #fff;
  display: inline-block;
  font-family: Roboto,sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: .05em;
  min-height: 1.5em;
  padding: 1px;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.ts-obich {
  align-items: center;
  background-color: grey;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 50%);
  color: #fff;
  display: inline-block;
  font-family: Roboto,sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: .05em;
  min-height: 1.5em;
  padding: 1px;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.ts-neobich {
  align-items: center;
  background-color: #98513d;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 50%);
  color: #fff;
  display: inline-block;
  font-family: Roboto,sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: .05em;
  min-height: 1.5em;
  padding: 1px;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.ts-redk {
  align-items: center;
  background-color: blue;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 50%);
  color: #fff;
  display: inline-block;
  font-family: Roboto,sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: .05em;
  min-height: 1.5em;
  padding: 1px;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.ts-unik {
  align-items: center;
  background-color: purple;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 50%);
  color: #fff;
  display: inline-block;
  font-family: Roboto,sans-serif;
  font-size: 0.625rem;
  font-weight: 500;
  letter-spacing: .05em;
  min-height: 1.5em;
  padding: 1px;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.ts-uron {
  background: pink;
  white-space: nowrap;
}

.ts-kb {
  background: hsla(0,0%,100%,.75);
  color: #5e0000;
}

.ts-oz {
  background: hsla(0,0%,100%,.75);
  color: rgb(56, 117, 56);
}

.ts-shma {
  background: rgb(145, 145, 224);
  font-family: Roboto,sans-serif;;
}

.ts-mhk { /* Мод.Харак.Колд. */
  background: #b186c5; /* Цвет фона */
  font-family: Roboto,sans-serif;;
}

.ts-narrativ { /* <p class="Нарратив"> */
  background-color: #f0ad72;
}

.ts-utochnit { /* <blockquote> <p class="Уточнить"> */
  background-color: #fbeeb8;
}

.ts-razv { /* <p class="Развеять"> */
  background-color: #e4a3e4;
}

.ts-immun { /* <p class="Иммун"> */
  background-color: #bfedd2;
}

.ts-spisok { /* _ <span class="Список"> */
  color: darkblue;
  font-weight: bold;
}

.highlighted-text {
  color: rgb(153, 102, 7);
  text-decoration: underline;
}
