
/*ЖУРНАЛЫ*/
.А
{
  text-indent: 10px;
  text-align: justify;
  text-align-last: left;
  margin: 8px;
}

.Б {
  font-family: Georgia;
}

.Зачитка
{
  margin-top: 2px;
  background: #f8f8eb;
  border-top: 1px solid #C5A924;
  border-bottom: 1px solid #C5A924;
  border-left: 1px solid #C5A924;
  border-right: 1px solid #C5A924;
  box-shadow: 3px 3px 3px grey;
  padding: 5px;
  color: rgb(121, 12, 12)
}

.БлокУлик
{
  /*Общее*/
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  /*Улики*/
  border: 4px solid rgb(0, 88, 151);;
  background: #f8f8eb
}

.ШапкаУлик
{
  /*Общее*/
  display: flex;
  margin-bottom: 10px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  /*Улики*/
  border-bottom: 4px solid rgb(0, 88, 151);;
  background: linear-gradient( #1c7ec5,black);
}

.БлокНавиг
{
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px; /*Общее*/
  /*Навиг*/
  border: 4px solid #22180f;
  background: #f8f8eb;
  clear: both;  
}

.ШапкаНавиг
{
  /*Общее*/
  display: flex;
  margin-bottom: 10px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  /*Навиг*/
  border-bottom: 4px solid #22180f;
  background: linear-gradient( #b2845d,#352517);
  clear: both; 
}

.БлокСущ
{
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px; /*Общее*/
  /*Сущ*/
  border: 4px solid #5d0000;
  background: #f8f8eb;
  clear: both; 
}

.ШапкаСущ
{
  /*Общее*/
  display: flex;
  margin-bottom: 10px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  /*Сущ*/
  border-bottom: 4px solid #5d0000;
  background: linear-gradient( red,black);
  clear: both; 
}

.БлокСокр
{
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px; /*Общее*/
  /*Сокр*/
  border: 4px solid #026939;
  background: #f8f8eb 
}

.ШапкаСокр
{
  /*Общее*/
  display: flex;
  margin-bottom: 10px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  /*Сокр*/
  border-bottom: 4px solid #026939;
  background: linear-gradient(green,black);
}

.БлокСтат
{
  border-radius: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px; /*Общее*/
  /*Стат*/
  border: 3px solid black;
  background: #f8f8eb;
  clear: both;
}

.ШапкаСтат
{
  /*Общее*/
  display: flex;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /*Стат*/
  border-bottom: 3px solid black;
  background: #5d0000;
  clear: both; 
}

.БлокОпыт
{
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px; /*Общее*/
  /*Стат*/
  border: 3px solid black;
  background: #f8f8eb
}

.ШапкаОпыт
{
  /*Общее*/
  display: flex;
  margin-bottom: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /*Стат*/
  border-bottom: 3px solid black;
  background: linear-gradient(rgb(110, 184, 184),rgb(52, 119, 119));
}

.Окно
{
  padding-bottom: 10px;
  display: block;
  height: 50px;
}

.Иконка
{
  border-radius: 50%;
  width: 70px;
  position: relative;
  left: -14px;
  top: -10px;
}

.Имя
{
  color: black;
  position: relative;
  top: 10px;
  font-family: cursive;
  font-size: large;
}

.Загол
{
  color: whitesmoke;
  position: relative;
  top: 10px;
  font-family: cursive;
  font-size: large;
}

/********** картинка слева **********/
.ЛЕВ {
  float: left;
  margin: 0 1em 1em 0;
}

/********** картинка справа **********/
.ПРАВ {
  float: right;
  margin: 0 0 1em 0em;
  width: 20%;
  margin-top: 2px; /* Вертикальный отступ от предыдущего объекта */
  margin-left: 2px
}

.ПРАВ img {
  height: auto !important;
  border: none; /* Убираем рамку у изображения */
}

.ПРАВ figcaption {
  white-space: nowrap; /* Запрет переноса текста на следующую строку */
  text-overflow: ellipsis; /* Отображение многоточия, если текст не помещается */
  font-size: 10px;
  padding: 5px;
  text-align: center; /* Выравнивание текста по центру горизонтально */
  align-items: center; /* Выравнивание текста по центру вертикально */
}

/********** картинка центр **********/

.ЦЕНТР {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.ЦЕНТР img {
  border: 5px solid lightblue; /* Более светлый оттенок синего для рамки */
  border-radius: 10px; /* Закругление углов картинки */
  height: auto !important;
}

.ТекстБлока
{
  margin: 15px;
}

/*АВТО_ОФОРМЛЕНИЕ*/

tss { /* состояния */ /* <span class="Состояния">Состояния</span> */
  background: rgb(209, 152, 152); /* Цвет фона */
  padding: 1px; /* Поля вокруг текста */
  padding-left: 1px; /* Поле слева */
  padding-right: 1px; /* Поле справа */
  border-radius: 1px; /* Уголки */
}

tso {   /* Обстоятельства */
  background: #c7c789; /* Цвет фона */
  padding: 1px; /* Поля вокруг текста */
  padding-left: 1px; /* Поле слева */
  padding-right: 1px; /* Поле справа */
  border-radius: 1px; /* Уголки */
}

tsp {   /* <span class=\"ts-predmeta\">Предмета</span> */
  background: #a2dddd; /* Цвет фона */
  padding: 1px; /* Поля вокруг текста */
  padding-left: 1px; /* Поле слева */
  padding-right: 1px; /* Поле справа */
  border-radius: 1px; /* Уголки */
}

.ts-effect {
    background: #20fa20; /* green background */
    padding-left: 2px;
    padding-right: 2px;
}

.ts-macros {
  background: #e282bd; 
  padding-left: 2px;
  padding-right: 2px;
}

u {
  color: rgb(92, 61, 4);
  text-decoration: underline;
}

darkblue {
  color: darkblue;
  font-weight: bold;
}

red {
  color: red;
  font-weight: bold;
}

green {
  color: green;
  font-weight: bold;
}

darkorange {
  color: darkorange;
  font-weight: bold;
}

purple {
  color: purple;
  font-weight: bold;
}

krituspeh {
  background: none;
  align-items: center;
  color: green;
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-size: 0.7rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: .05em;
  padding: 1px;
  text-align-last: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

uspeh {
  background: none;
  align-items: center;
  color: blue;
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-size: 0.7rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: .05em;
  padding: 1px;
  text-align-last: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

proval {
  background: none;
  align-items: center;
  color: #ff4500;
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-size: 0.7rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: .05em;
  padding: 1px;
  text-align-last: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

kritproval {
  background: none;
  align-items: center;
  color: red;
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-size: 0.7rem;
  font-weight: 500;
  justify-content: center;
  letter-spacing: .05em;
  padding: 1px;
  text-align-last: center;
  text-rendering: optimizeLegibility;
  text-transform: uppercase;
}

.read {
  cursor:pointer;
  position:relative;
  width:auto;
  z-index:1
}
.read:after {
  background-color:#ffffff;
  border-left:2px solid #470000;
  border-radius:5px;
  border-right:2px solid #470000;
  color:#ff2424;
  content:"";
  display:block;
  font-family:Font Awesome\ 6 Pro;
  font-size:10px;
  font-weight:900;
  height:16px;
  line-height:16px;
  position:absolute;
  right:-8px;
  text-align:center;
  top:-8px;
  transition:background 1s ease-in-out;
  transition:background-color 1s ease-in-out;
  width:16px;
  text-indent: 2px;
}

